.ability{
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    margin: 0 auto;
    border: 1px solid green;
    background-color: whitesmoke;
}
.ability h1{
    color: $azul;
}
.ability h1 span{
    color: $verde;
}
.ability__container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}
.ability__container--title{
    color: gray;
}
.ability__container--img{
    height: 70px;
}
