.about {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 280px;
    height: 100vh;
    padding: 0 5%;
    margin: 0 auto;
    background-image: url('../img/sello.png');
    background-size: 30%;
    background-position: top left;
    background-position-x: 5%;
    background-repeat: no-repeat;
}

.about__content-img {
    @include centrarh;
    width: 50%;
}

.about__content-img--img {
    max-width: 50%;
}

.about__description {
    @include centrarv;
    flex-direction: column;
    width: 50%;
    color: white;
}

.about__description h1 {
    text-align: left;
}

.about__description--number {
    color: $verde;
}

.about__description p {
    text-align: justify;
}

@media only screen and(max-width:768px){
    .about{
        // background-color:red;
    }
    .about__content-img {
        @include centrarh;
        width: 50%;
    }
    
    .about__content-img--img {
        max-width: 70%;
        min-width: 204px;
    }
}
@media only screen and(max-width:528px) {
    .about {
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.5rem;
        z-index: -1;
        padding-top: 10%;
    }

    .about__content-img {
        position: absolute;
        bottom: 6%;
        width: 50%;
    }

    .about__content-img--img {
        // height: 60vh;
        max-width: 70%;
        min-width: 70px;
    }

    .about__description {
        width: 85%;
        padding-top: 5%;
    }
}

@media only screen and(max-width:420px) {
    .about {
        padding-top: 10%;
    }
    .about__content-img {
        bottom: 3%;
        width: 100%;
    }
    .about__content-img--img {
        max-width: 45%;
    }
    .about__description {
        width: 95%;
        padding-top: 5%;
    }
}