nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-width: 290px;
    color: $white;
}

nav ul {
    display: flex;
    list-style: none;
}

@media only screen and (max-width:768px) {
    nav {
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a span {
    color: $verde;
}

.nav__ul--a {
    text-decoration: none;
    font-weight: 500;
    padding: 0px 15px;
    border-radius: 10px;
    color: $azul;
    background-color: $verde;
}

.nav__ul--a span i {
    font-weight: bold;
    font-size: 17px;
    color: white;
}