/*--------------------*\
        $BOTONES
\*--------------------*/

.hero__left--btn{
    text-decoration: none;
    border-radius:8px;
    padding:2% 3%;
    font-weight: 600;
    color: $azul;
    background-color: $verde;
}